body {
  background: #ffffff;
  font-family: sans-serif;
  margin: 0;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.1rem;
  margin: 0;
}
ul {
  margin: 0;
}
.row {
  width: 800px;
  margin: 0 auto;
}
.row-flex {
  display: flex;
}
.row-block {
  display: block;
}
a {
  color: #000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/* header start */
header {
  padding: 2rem 0;
}
header img {
  display: block;
  margin: 0 auto;
  width: 10rem;
}

/* nav start */
nav {
  width: 100%;
  background: #e2eaf0;
}
nav ul {
  list-style: none;
  text-align: center;
}

nav li {
  display: inline-block;
  margin: 0.5rem 1rem;
  text-align: center;
}
nav li a {
  font-family: KapraNeue, brandon-grotesque, sans-serif;
  font-size: 0.8rem;
  line-height: 1.6rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

/* banner start */
section.banner {
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url("./images/banner-big.webp");
  background-color: #fdfdfd;
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 2s;
}
section.banner:hover {
  background-size: 102%;
}
.banner > div > div {
  flex: 1;
  text-align: right;
}
.banner .ad span {
  font-size: 32px !important;
  font-family: Mooli, sans-serif;
  line-height: 40px;
  margin: 10px 0 0 0;
  display: block;
}
.banner .ad p {
  margin: 0;
}
.banner .ad a {
  font-size: 1rem;
  line-height: 2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
/* shop start */
.title {
  margin-top: 30px !important;
  margin-bottom: 0px !important;
  text-align: center;
  font-family: Mooli, serif !important;
  font-weight: normal;
}

section.feature article {
  margin: 0 0.5rem 0 0.5rem;
  padding: auto;
}
section.feature article img {
  width: 100%;
}
article {
  flex: 1;
  height: 25rem;
}
article p {
  height: 5rem;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 0.8rem !important;
  font-weight: 400;
  line-height: 1.3rem !important;
  color: rgb(91, 91, 91);
}
article span {
  align-self: flex-end;
}
article span a {
  font-size: 0.8rem !important;
  text-transform: uppercase;
  text-decoration: underline;
}
/* footer start */
footer {
  margin-top: 4rem;
}
footer .row {
  border-top: 0.1rem solid;
  padding-top: 0.5rem;
  height: 2rem;
}
footer .row div {
  flex: 1;
}
footer img {
  width: 5rem;
}
footer .copyright {
  margin: 0;
  font-size: 0.8rem !important;
  font-weight: 400;
  line-height: 1.3rem !important;
  color: rgb(91, 91, 91);
}
footer .copyright a {
  color: rgb(91, 91, 91);
}
